        <div class="card">
            <a href="/posts/{{id}}">
                <header>{{title}}</header>
                <a class="card-body">
                    <p>
                        Posted on {{date_created}}
                    </p>
                </a>
        </div>
